
.galitem{
    height:250px;
    width: 250px;
    border-right: 1px solid #777777;
    border-left: 1px solid #aeaeae;
    border-bottom: 1px solid #777777;
    border-top: 1px solid #777777;
    box-shadow: 10px 10px 5px #888888;
    background-color: #e5e5c8;
    margin:15px;
    padding-top:10px;
}

.galitem a{
    position:relative;
    left:20px;
    top:15px;
}


